*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root{
    --light-white-blue:#d6e6ff; 
    --light-white:#f5f8fa;
    --gray:#5e6278;
    --gray-1:#e3e3e3;
}
body{
    /* background: linear-gradient(#72edf2, #5151e5); */
    background-image: url(images/background.jpg);
    background-size: cover;
}
.wrapper input{
    background-color: var(--light-white-blue);
    border-color: var(--light-white);
    color: var(--grey);
}
.wrapper input:focus{
    box-shadow: none;
}
.wrapper .btn{
    height: 50px  ;
}
.wrapper .login_with{
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3 ease-in-out;
    background-color: var(--light-white);
}
.wrapper  .login_with:hover{
    background-color: var(--gray-1);
    border-color: var(--gray-1);
}
.wrapper .login_with img{
    max-width: 8%;
}